* {
    font-family: 'Song Myung', sans-serif;
}

.wrap {
    width: 900px;
    margin: 10px auto;
}

#post-box {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: black solid;
    border-radius: 5px;
}

#post-box{
    display: none;
}

.box__login,
.box__form{margin-top:100px}