/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css */
* {
    font-family: 'Song Myung', sans-serif;
}

.wrap {}

#post-box {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: black solid;
    border-radius: 5px;
}

#post-box{
    display: none;
}

.box__login,
.box__form{margin-top:100px}

.box__login {width:484px;margin:200px auto;padding:30px 40px 24px;border:1px solid #000;border-radius:10px;text-align:center;}
.box__login .box__row{width:268px;margin:0 auto}
.box__login .box__row + .box__row{margin-top:10px}
.box__login h2{margin-bottom:20px;color: rgb(34, 11, 11);font-size: 36px;font-weight: 600;letter-spacing: -1.2px;padding-left:16px;padding-right:16px;-webkit-font-smoothing: antialiased;word-break: break-word;text-align: center;}

.box__login input{width:100%;height:48px;padding:8px;border-radius:16px;border:1px solid rgb(205,205,205)}
.box__login input + input{margin-top:30px}
.box__login .box__button{width:268px;margin:10px auto;}
.box__login button + button{margin-top:5px}
.box__login button{display:block;width:100%;height:44px;padding:8px;border-radius:15px;background-color:rgb(213,12,34);border:0;color:#fff;font-weight:700;}
.box__login .btn2{background-color:rgb(24, 119, 242)}

.box__status{padding:40px 40px 30px;margin:0 auto 0;border-bottom:2px solid #000;text-align:center}
.box__status .box__row span{font-size:20px}
.box__status .box__button{margin-top:30px}
.box__status button + button{margin-top:5px}
.box__status button{display:inline-block;width:100px;height:44px;padding:8px;border-radius:15px;background-color:rgb(213,12,34);border:0;color:#fff;font-size:15px;font-weight:700;}
.box__status .btn2{background-color:rgb(24, 119, 242)}

#left .form-group{margin-top:50px;text-align:center;}
#left .form-group label[for="post-url"]{font-size:20px;font-weight:700}
#left .form-group .box__cate{margin-top:30px;text-align:center;}
#left .form-group .box__cate .control{display:inline-block;margin-left:40px}
#left .form-group .box__cate input{margin-right:5px}

#right{padding-bottom:50px}
#right #card{width:450px;margin:0 auto;padding:10px 20px;border:1px solid #000;border-radius:10px}
#right div[name="wf"]{margin-top:10px}
#right hr{display:none;}
#right #card img{width:100px;height:100px}

#right del{display:none}

#right .box__info{display:inline-block;padding-top:10px;vertical-align:top;}
#right .box__info p{display:block;margin-top:5px}

.box__add{padding:40px 40px 30px;margin:0 auto 0;border-bottom:2px solid #000;text-align:center}
.box__add .text__title{font-size:20px;font-weight:700}
.box__add .text__desc{margin-top:10px;font-size:16px;}
.box__addform{margin-top:30px;text-align:center}

.box__addform .form-group{margin-top:10px}
.box__addform .form-group div{margin:20px 0 15px}
.box__addform .form-group .control{display:inline-block;margin-left:40px}
.box__addform .form-group label{font-size:16px;font-weight:700}
.box__addform .form-group .form-control{margin-left:10px;padding:7px;border-radius:6px;border:1px solid #000}
.box__addform button{display:inline-block;width:300px;height:44px;margin:15px auto 0;padding:8px;border-radius:15px;background-color:rgb(213,12,34);border:0;color:#fff;font-size:15px;font-weight:700}
.box__addform .btn2{background-color:rgb(24, 119, 242)}