<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘 뭐 먹지?</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
    <!-- css 파일 분리 -->
    <!-- <link rel="stylesheet" type="text/css" href = "../static/style.css"> -->
    <link rel="stylesheet" type="text/css" href = "{{url_for('static', filename='style.css')}}" rel="stylesheet">

    <!-- js -->
    <script src ="{{url_for('static', filename='javascript.js')}}"></script>

    <!--img 참고-->
    <!-- <img src="{{ url_for('static', filename='rome.jpg') }}"/> -->
    
</head>
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<body>
    <div class="wrap">
        <div class="box__add">
            <h2 class="text__title">메뉴 추가하기</h1>
            <p class="text__desc">추가하고 싶은 메뉴와 식당을 입력해주세요!</p>
        </div>
        <div class="box__addform">
            <div>
                <div class="form-group">
                    <label for="post-url">메뉴의 카테고리를 선택하세요</label>
                    <div>
                        <p class="control">
                          <input type="checkbox" name="category" id="한식">
                          한식
                        </p>
                        <p class="control">
                          <input type="checkbox" name="category" id="중식">
                          중식
                        </p>
                        <p class="control">
                          <input type="checkbox" name="category" id="일식">
                          일식
                        </p>
                        <p class="control">
                            <input type="checkbox" name="category" id="양식">
                            양식
                          </p>
                        <p class="control">
                          <input type="checkbox" name="category" id="기타">
                          기타
                        </p>
                      </div>
                </div>
                <div class="form-group">
                    <label for="post-url">추가하고 싶은 메뉴를 입력하세요</label>
                    <input id="food_name" class="form-control" placeholder="메뉴를 입력하세요" required>
                </div>
                <div class="form-group">
                    <label for="post-url">메뉴 사진 url를 입력해주세요</label>
                    <input id="shop_img" class="form-control" placeholder="메뉴 사진 url을 입력하세요" required>
                    <!-- <p>
                        <form action="/fileUpload" method="POST" enctype = "multipart/form-data">
                        <input type = "file" name = "file" id= "shop_img"/>  
                        <input type = "submit" value="이미지 저장"/>
                    </p> -->
                </div>
                <div class="form-group">
                    <label for="post-url">식당을 추천해주세요</label>
                    <input id="shop_name" class="form-control" placeholder="식당을 입력하세요" required>
                </div>
                <div class="form-group">
                    <label for="post-url">식당 위치를 입력해주세요</label>
                    <input id="shop_address" class="form-control" placeholder="식당 위치를 입력하세요" required>
                </div>
                <button type="button" class="button" onclick="addMenu()">메뉴 추가하기</button>
            </div>
        </div>

    </div>
</body>
</html>